body {
    color: #070707;
    font-family: Poppins, 'Noto Sans KR', Arial, AppleGothic;
}
div {
    background-color: #aa8fe5; 
    text-align: center; 
    padding: 20px;
    width: 560px;
}
h2 {
    color: rgb(255, 255, 255); 
    font-size: 1.7rem;
}
p {
    background-color: #f6f1ff; 
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
span {
    font-weight: 700;
}
.red {
    color: rgb(255, 0, 0)
}
.blue {
    color: rgb(0, 0, 255)
}
.yellow {
    color: rgb(255, 200, 0)
}
#green {
    color: rgb(0, 200, 0)
}